* {
    box-sizing: border-box;
}
main div {
    display: flex;
    justify-content: center;
}
.addTable div, .removeTable div {
    display: block;
    margin: 10px;
}
table, table * {
    margin: 30px 10px;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px 20px;
}